<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="assets/Logo.jpg" alt="School Logo" />
        <p>GSSS SARAH</p>
      </div>
  
      <div class="footer-links">
        <a href="#">About Us</a>
        <a href="#">Admissions</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
      </div>
  
      <div class="footer-social">
        <a href="https://www.facebook.com/yourpage" target="_blank">
          <mat-icon>facebook</mat-icon>
        </a>
        <a href="https://twitter.com/yourpage" target="_blank">
          <mat-icon>twitter</mat-icon>
        </a>
        <a href="https://www.instagram.com/yourpage" target="_blank">
          <mat-icon>instagram</mat-icon>
        </a>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 GSSS SARAH. All rights reserved.</p>
    </div>
  </footer>
  
