<app-menubar></app-menubar>

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>Empowering the Future: Enroll Today!</h1>
    <p>Join our school and be part of a bright future.</p>
    <button mat-raised-button color="accent">Apply Now</button>
  </div>
</section>


<section class="achievements">
  <div class="stat-card">
    <mat-icon>school</mat-icon>
    <h2>100+</h2>
    <p>Students Enrolled</p>
  </div>
  <div class="stat-card">
    <mat-icon>emoji_events</mat-icon>
    <h2>10+</h2>
    <p>Awards Won</p>
  </div>
</section>


<section class="why-choose">
  <h2>Why Choose Our School?</h2>
  <div class="features">
    
   <!-- Principal's Column -->
   <div class="principal-card">
    <img src="assets/principal.jpg" alt="Principal" class="principal-photo">
    <h3 class="principal-name">Smt. Surindra Devi</h3>
    <h4 class="principal-name">Principal</h4>
    <p class="principal-message">
      "Our school is dedicated to academic excellence and holistic development, ensuring a bright future for every student."
    </p>
  </div>

   <!-- Feature Cards -->
   <div class="feature-card">
    <mat-icon>groups</mat-icon>
    <h3>Expert Faculty</h3>
    <p>Learn from experienced educators.</p>
  </div>
  <div class="feature-card">
    <mat-icon>school</mat-icon>
    <h3>Modern Infrastructure</h3>
    <p>Well euipped computer labs with modern Kyan.</p>
  </div>
  <div class="feature-card">
    <mat-icon>handshake</mat-icon>
    <h3>Exposure Visit</h3>
    <p>Visit to Various Place Every Session.</p>
  </div>
  <div class="feature-card">
    <mat-icon>lightbulb</mat-icon>
    <h3>Nuturious Food</h3>
    <p>We provide the cooked food in Lunch under PMBY.</p>
  </div>


  </div>
</section>

<section class="featured-courses">
  <h2>Our Featured Courses</h2>
  <div class="course-grid">
    <div class="course-card" *ngFor="let course of courses">
      <img [src]="course.image" alt="Course Image">
      <h3>{{ course.name }}</h3>
      <p>{{ course.description }}</p>
      <button mat-button color="primary">Learn More</button>
    </div>
  </div>
</section>




